* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --fc-primary: #34355b;
  --ff-cursive: "Dancing Script", cursive;
  --ff-dm: "DM Sans", sans-serif;
  --ff-mont: "Montserrat", sans-serif;
  --bg-card: rgba(228, 237, 241, 1);

  font-size: 62.5%;
}

body {
  background: linear-gradient(
    45deg,
    rgba(25, 3, 97, 1) 0%,
    rgba(187, 0, 255, 1) 100%
  );
  background-size: 400% 400%;
  animation: gradient 3000ms ease infinite;
}

main .hide {
  display: none;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100vh;
  padding: 0 2rem;
}

.card {
  background: white;

  padding: 4.8rem 6.4rem 6.4rem;
  border-radius: 0.6rem;
  width: 100%;
  max-width: 428px;

  box-shadow: 0px 20px 50px rgba(0, 0, 0, 0.8);
}

.card h1 {
  width: 100%;

  color: var(--fc-primary);
  font-family: var(--ff-mont);
  font-weight: bold;
  font-size: 2.4rem;
  line-height: 3rem;
}

.card p {
  color: var(--fc-primary);
  font-family: var(--ff-dm);
  font-size: 1.5rem;
  line-height: 2rem;
}

.card .screen1 {
  width: 100%;
}

.screen1 {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  gap: 1.4rem;

  width: 100%;
}


.screen1 p {
  margin-bottom: 6px;
}

.screen1 img:hover {
  animation: shake 500ms ease infinite;
  cursor: pointer;
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.screen2 {
  width: 100%;

  position: relative;

  display: flex;
  flex-direction: column;
  gap: 1.7rem;
}

.screen2 h1 {
  margin-bottom: 14rem;
  text-align: center;
}

.screen2 button {
  border-radius: 4px;
  background-color: #ff9500;
  color: white;
  font-family: var(--ff-dm);
  font-weight: bold;
  padding: 1.6rem;
  border: none;
  cursor: pointer;
  margin: 0 auto
}

#message-card {
  width: 100%;
  height: 11rem;

  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;

  box-shadow: 2px 2px 2px rgba(85, 85, 85, 0.5);
  animation: appearing 2000ms;
  background: var(--bg-card);

  text-align: center;

  margin: 8rem 0 0;
  padding: 1rem;
}

#message-card p {
  font-family: var(--ff-cursive);
  font-size: 2.4rem;
  line-height: 3rem;
}

@keyframes appearing {
  0% {
    transform: translateX(-20px) translateY(150px) scale(0.1);
  }

  100% {
    transform: translateX(0) translateY(0) scale(1);
  }
}

@media (max-width: 385px) {
  .card {
    padding: 3.8rem 5.4rem 5.4rem;
  }
}
